# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=inventory_db

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Google OAuth (Google Cloud Console → APIs & Services → Credentials)
GOOGLE_WEB_CLIENT_ID=478450810824-bqu4kj27sqe7fn2id5hcbiqhicmeiknn.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=478450810824-1t4mmb3if9u3dsp9ut5u1sba7d6o6tlu.apps.googleusercontent.com
