# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# CapRover deploy tar
*.tar.gz

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
